*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1200px;
}

.content {
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 80px;
}