@import url(./font.css);


:root{
    --text-color: 'RM';
    --title-color: 'RR';
    
    
}

























*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.my-project{
    max-width: 1400px;
    height: 576px;
    
}

.container{
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1400px;
    
}

.content {
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 20px;
    
}
.my-maket1,
.my-maket2{
    width: 358px;
    height: 276px;
    border: 2px,gray,solid;
    /* margin: 140px; */

}
.like-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text2,
.text{
    color: gray;
}

.btn1{
margin: 29px;
}